#!/usr/bin/make -f
# Debian rules file for superharness

export DH_VERBOSE = 1
export CARGO_HOME = $(CURDIR)/.cargo
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_build:
	cargo build --release --locked

override_dh_auto_install:
	install -Dm0755 target/release/superharness \
	    debian/superharness/usr/bin/superharness

override_dh_auto_test:
	# Smoke test: binary runs and shows help
	target/release/superharness --help

override_dh_auto_clean:
	cargo clean
	dh_auto_clean
